<h3 class="my-5 text-center text-danger">Students Form</h3>
<form class="w-75 m-auto bg-light shadow-lg p-5">
    <input type="text" class="form-control my-2" placeholder="Name" #inputName>
    <br>
    <!-- <input type="text" class="form-control my-2" placeholder="Last Name" #inputLastName> -->
    <br>
    <input type="number" class="form-control my-2" placeholder="Age" #inputAge>
    <br>
    <input type="email" class="form-control my-2" placeholder="email" #inputEmail>
    <br>
    <input type="number" class="form-control my-2" placeholder="phone" #inputPhone>

    <br>
    <button type="button" class="btn btn-info"
        (click)="addStudents(inputName.value , inputAge.value,inputEmail.value ,inputPhone.value)" (click)="btnClick()">Add</button>
</form>

