<table class="table">
    <tr class="table-warning">
        <td>FirstName</td>
        <td>lastName</td>
        <td>Age</td>
        <td>Email</td>
        <td>Mobile</td>
    </tr>
    <tr>
        <td>{{students.Name}} </td>
        <!-- <td>{{students.LastName}}</td> -->
        <td>{{students.Age}}</td>
        <td>{{students.Email}}</td>
        <td>{{students.Mobile}} </td>
        <td><button class="btn btn-outline-danger" type="button">Delete</button></td>
        <td><button class="btn btn-outline-primary" type="button">Update</button></td>


    </tr>
</table>